/* #region generali */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");
html {
  font-size: 16px;
}
body {
  font-family: "Comfortaa", cursive;
  font-weight: 500;
  margin: 0;
}
h1,
h2 {
  margin: 0;
  padding: 0;
}
/* #endregion generali */
.container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
  justify-content: center;
  padding: 3.125rem 9.375rem;
  text-align: center;
  width: 100%;
}
.container h1,
.container h2 {
  font-size: 2rem;
  font-weight: inherit;
  text-transform: uppercase;
  animation: gradiente-testo 4s linear infinite alternate;
}
.container h2 {
  margin-top: 60px;
  text-transform: lowercase;
}
#myButton {
  background-color: #f8f9fa;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1rem;
  height: fit-content;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  text-align: center;
  width: fit-content;
}
@keyframes gradiente-testo {
  /* nero */
  0% {
    color: #000000;
  }
  /* grigio al 75% */
  25% {
    color: #404040;
  }
  /* grigio al 50%  */
  50% {
    color: #808080;
  }
  /* grigio al 25% */
  75% {
    color: #d2d2d2;
  }
  /* bianco */
  100% {
    color: #ffffff;
  }
}
