
html,body{
    margin:0px;
    padding:0;
}
    
.AppBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    box-shadow: 0px 14px 10px -4px rgba(232,232,232,0.59);
}
.AppBar>.AppBarSinistra{
    display: flex;
    align-items: center;
}
.AppBarSinistra,.AppBarDestra{
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    gap: 25px;
}
div.annuncio{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
        justify-content: space-between;padding-left: 25px;
        padding-right: 25px;
}
div.annuncio>.columnUP{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.columnUP>.titolo{
    width: 70%;
}
.columnUP>.immagine,.columnUP>.immagine1,.columnUP>.immagine2{
    width: 75px;
    height: 75px;
    background-color: #C4C4C4   ;
}

div.annuncio>.ColumnDown{
    display: flex;
}
.description>.autor{
    font-size: 14px;
    font-weight: 500;
}
.description>.data{
    font-size: 12px;
    color: #A8A8A8;
}

.ColumnDown{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.ColumnDown>.icons{
    display: flex;
    gap: 40px;
}
.underlinea{
    padding-left: 30%;
    width: 70%;
    border-radius: 10px;
    height: 3px;
    background-color: #A8A8A8;
}

.columnUP>.immagine1,.columnUP>.immagine2{
 display: flex;
    flex-direction: column;
    justify-content: end;
}

.immagine1>.blok,.immagine2>.blok{
    top: 5px;
    right: 3px;
    position: relative;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    background-color: grey;
}
div.titolo{
    font-size: 20px;
    font-weight: bold;
}
#comments{
    font-size: medium;
    color: #C4C4C4;
}

.annuncioinlinea{
    margin-top: 50px;
    background-color: #F4F4F4;
    height: 144px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.blocchi{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:16px
}

.blocchi>.bloks{
    width: 55px;
    border-radius: 8px;
    height: 55px;
    background-color: #525252;
}
.annuncioinlinea>.columnStart{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;

}
.columnStart>.rowEnd{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}
.rowEnd>.box{
    width: 4px;
    border-radius: 5px;
    height: 20px;
    background-color: #525252;
}

.annuncioinlinea>piccololinea{
    width:20px ;
    height: 10px;
    background-color: #525252;

}
