@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@700&family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #191919;
    width: 390px;
}
 .container {
    background-image: url(/css/img148/Rectangle\ 304.jpg);
    background-repeat: no-repeat;
    height: 400px;
    margin-top: 1rem;
 }
 button{
    float: right;
    margin: 16px;
    background: transparent;
    border: 0;
    cursor: pointer;
 }
 .container > h2{
    font-family: 'Pridi', serif;
    color: #fff;
    font-size: 48px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .about, .classes{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
 }
 .about > h3{
   margin-bottom: 1rem;
 }
 .wrapper {
   width: 370px;
   margin: 0 auto;
 }
 .tabs {
   position: relative;
   margin: 1rem 0;
 }
 .tab {
   float: left;
 }
 .tab-switch {
   display: none;
 }
 .tab-label {
   position: relative;
   display: block;
   line-height: 2.75em;
   height: 3em;
   padding: 0 1.37em;
   color: #fff;
   cursor: pointer;
   top: 0;
 }
 .tab-content {
   position: absolute;
   z-index: 1;
   margin-top: 10px;
   color: #fff;
   opacity: 0;
   transition: all 0.35s;
   margin-left: -15px;
 }
 .tab-switch:checked + .tab-label {
   border-bottom: 0.125rem solid #3A595D;
   z-index: 1;
   top: -0.0625rem;
 }
 .tab-switch:checked + label + .tab-content {
   z-index: 2;
   opacity: 1;
 }