@font-face {
    font-family: 'Pacifico';
    src: url('Pacifico-Regular.ttf') format('truetype');
}

p{
    color: blue;
    font-family: 'Pacifico', serif;
    text-decoration: underline;
    margin: 10px;
}

.red, .error{
    color: red;
}

.error{
    font-size: 20px;
}

.class1, .class2, #special{
    font-size: 10px;
}

#a{
    border: 5px solid black;

    margin: 10px 100px 10px 100px;
}

#b{
    border: 5px solid black;
    padding: 20px;
}

#c{
    border: 5px solid black;
    padding: 20px;
    margin: 20px;
}

#special {
    background-color: black;
    color: white;
}  

div p{
    background-color: orange;
    font-size: 30px;
}

div p.error{
    background-color: aquamarine;
}

div > div > p{
    color: purple;
    font-size: 20px;
}

p.error{
    color: pink;
    font-size: 40px;
}

div + p{
    background-color: pink;
}

div ~ p{
    background-color: green;
} 

section ~ div{
    background-color: green;
}

