@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');

body{
    font-family: 'Combo', cursive;
}
h1{
    text-align: center;
    margin:20px 0 0 0;
    padding: auto;
    font-family: 'Combo';
    font-weight: 900;

   
}
.Utente{
    font-size: 20px;
    color:rgb(7, 211, 75);
    font-weight: 500;
}