@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');

body{
    font-family: 'Combo', cursive;
    background-color: rgba(0, 0, 0, 0.937);

}

div > h1 {
    height: 62px;
    margin: 50px 0 0 0;
    background-size: contain;
    border-radius: 25px;
    background-image: url(https://sm.ign.com/t/ign_it/screenshot/default/videogames-controller-1920x1080_75ss.1280.jpg);
    box-shadow: -3px -1px 30px 21px rgba(57,162,22,0.53);
    padding: 15px;
}


 h1{
    text-align: center;
    size:20px;
    margin:50px 0 0 0;
    font-family: 'Combo';
    font-weight: 900;
    color: rgba(3, 255, 66, 0.892)
    

   
}
.Display{
    display: flex;
    justify-content: space-around;
    margin:40px 500px 0 500px ;

}   

.Utente, .Utente2{
    font-size: 20px;
    color:rgb(7, 211, 75);
    font-weight: 500;
}

.Utente{
    margin: 10px 0 0 20px;
}

.Utente2{
    margin: 30px 10px 0px 100px;
}
.scelta{
    color:white
}
