@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    padding: 0 100px 0 100px;
}

.card{
    background-color: #ffffff;
    box-shadow: 4px 4px 9px 0px rgba(0,0,0,0.25);
    width: 356px;
    height: 385px;
    border-radius: 10px;
    padding: 30px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


div.card div.score{
   background-color: #ffffff; 
   border-radius: 20px;
   font-weight: bold;
   position: absolute;
   margin: 10px 0 0 10px;
   padding: 5px 15px;
   display: flex;
   align-items: center;

}

div.score svg {
    padding-left: 5px;
}

.banner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 24px;
    color: #2F2105;
    margin-left: 20px;
}

.description{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    font-weight: 600;
    font-size: 14px;
    color: #7E7D7A;
    align-items: center;
}

.description p{
    width: 50%;
}

.right{
    margin-right: 20px;
}

.description > button{
    background-color: #FF912B;
    border: 0;
    border-radius: 50%;
    width: 44px;
    height: 44px;
}