body {
  color: white;
  font-family: Lato;
}

#containerFooter {
  margin-top: 200px;
  padding: 40px 20px;
  background-color: black;
  display: flex;
  justify-content: space-around;
}

h2 {
  margin: 0;
}

.titleFooterSection {
  margin: 0 0 30px 0;
}

#containerFooter ul.ulNoArrows {
  list-style: none;
  padding: 0px;
}

#listWithArrows {
  list-style-image: url(/assets/bulletArrow.svg);
  padding: 0px;
}

li {
  font-size: 12px;
  color: #c7e0fa;
  margin: 0 0 12px 0;
}

#footerText span {
  margin: 0 0 0 30px;
  color: #deecf9;
  font-size: 10px;
}

#footerText div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#footerText p {
  font-size: 12px;
  max-width: 300px;
  color: #c7e0fa;
  line-height: 25px;
  margin: 50px 0 0 0;
}

#containerFooter div:not(:last-child) {
  margin: 0 20px 0 0;
}
