body {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

main {
  margin-top: 12px;
  margin-bottom: 12px;
}

#login-form input {
  margin: 12px;
  align-self: center;
  padding: 5px;
  border-color: solid lightgray;
  border: solid lightgray 1px;
  border-radius: 10px;
}

#login-image {
  margin-bottom: 12px;
}

#navList {
  list-style: none;
  padding: 0px;
}

#navList li {
  display: inline-block;
  margin: 10px;
  font-size: large;
}

#navDiv {
  background-color: beige;
}

#send-button {
  padding: 5px 10px 5px 10px;
  box-shadow: #a3a3a3 2px 2px 6px;
  border: 1px solid lightgray;
}
