:root {
  --content_margin: 1.5rem;
}

html {
  font-size: 100%;
  font-family: Work Sans, sans-serif;
}

body {
  margin: 0;
}

h1 {
  font-weight: 600;
  font-size: larger;
}
h3 {
  font-weight: 600;
  font-size: medium;
}
h4 {
  font-weight: 500;
  font-size: small;
}

header img {
  width: 100%;
  top: 0;
  left: 0;
}

header button {
  border-radius: 100%;
  width: 3.2rem;
  height: 3.2rem;
  border: 0;
  background-color: white;
}

#buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: var(--content_margin);
  margin-left: var(--content_margin);
  margin-right: var(--content_margin);
  position: sticky;
  top: var(--content_margin);
}
#insideImageContent {
  background-image: url("Assets/ce3a9bb8e7c0db43aee96eee627d74dc.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20rem;
  top: 0;
  left: 0;
  justify-content: space-between;
  border-radius: 0 0 40px 40px;
}

#timeValue {
  margin-bottom: var(--content_margin);
  margin-left: var(--content_margin);
  align-self: flex-start;
  padding: 0.8rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  color: white;
  font-size: medium;
}

main {
  padding: 1rem var(--content_margin) 1rem var(--content_margin);
}

#rating-delivery div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.2rem 0;
}
.icons,
#infoIcon {
  height: 1rem;
  width: auto;
}
#rating-delivery h4 {
  margin: 0rem 1.5rem 0 0.5rem;
}
main button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  background-color: #c4c4c4;
  border: 0;
  font-family: inherit;
  border-radius: 0.25rem;
  margin: 0 0 0.5rem 0;
}

main button:hover {
  background-color: rgb(16, 140, 255);
  color: white;
}
main button + div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5rem;
  align-items: center;
}
#infoIcon {
  height: 0.8rem;
}
#infoIcon + span {
  font-weight: 400;
  font-size: small;
}
hr {
  margin: 1.5rem 0;
  border-color: #dadada;
}

/* Dish CSS Rules */

#dishes-container{
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}


.dish {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #d8d8d8;
  border-radius: 0.3rem;
  padding: 0.5rem 0.5rem;
  margin: 0 0 1rem 0;
}
.dish img {
  width: 3em;
  margin: 0 0 0 1rem;
}
.dish p {
  font-size: x-small;
  font-weight: 400;
}
.dish h5 {
  margin: 0;
}
.dish h5:not(:last-child) {
  margin: 0 0 0.5rem 0;
}

footer{
  width: 100%;
  position: fixed;
  background-color: white;
  bottom:0;
  border-top: 1px solid lightgray;
}
#footer-container{
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: var(--content_margin);
}

footer button{
  border: 0;
  background-color: transparent;
}

.add-button{
  height: 5rem;
  width: 5rem;
  background-color: #F4F4F4;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3); 
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
  margin: -4rem 0;
  border-radius: 100%;
}

@media screen and (min-width: 768px) {
  #dishes-container{
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dish{
  width: calc(50% - 2rem);
}
}
