@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');
*{/* 
    margin: 0px;
    padding: 0px; */
    font-family: 'Work Sans', sans-serif;
    font-size: 10px;
    color: #333333;
}
h1{
    font-size: 2rem;
}
p{
    font-size: 1.4rem;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
header > div{
    display: flex;
    gap: 2.1rem;
    align-items: center;
}
header > div h1, p{
    margin: 0;
}
.btn_profile{
    width: 5rem;
    height: 5rem;
    border-style: none;
    border-radius: 2.5rem;
    background-color: #C4C4C4;
    transition: 0.3s ease-in-out;
}
.btn_profile:hover{
    background-color: #595959;
    cursor: pointer;
}
#action{
    margin-top: 1.5rem;
}
#action div{
    display: flex;
    gap: 1.5rem;
}
#action input{
    display: none;
}
#action label{
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1.5% 4%;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25); 
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25);
    border-radius: 1.6rem;
    text-align: center;
    align-content: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border: 0.1rem solid #fff;
    transition: 0.3s ease-in-out;
}
#action input:checked + label{
    border: 0.1rem solid #333333;
    transition: 0.3s ease-in-out;
}
.find{
    margin-top: 2.4rem;
}
.find > div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.find form{
    display: flex;
    align-items: center;
}
#find_text{
    width: 28.1rem;
    height: 5rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #525252;
    border-style: none;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25); 
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25);
    padding-left: 4.9rem;
}
#find_text:focus{ /* ???? */
    border-style: none;
    outline: none;
}
.find .magnifier{
    border: none;
    background: transparent;
    cursor: pointer;
    position: absolute;
    margin-left: 1.2rem;
}
.find .filter{
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding-left: 1.3rem;
}
.category{
    margin-top: 1.8rem;
    display: flex;
    overflow: auto;
    justify-content: flex-start;
}
.category::-webkit-scrollbar{
    display: none;
}
.category div{
    min-width: 9rem;
    min-height: 9rem;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: #d0d0d0;
    border-radius: 0.4rem;
    margin-right: 1.6rem;
    display: flex;
    align-items:flex-end;
    padding-left: 0.9rem;
    padding-bottom: 0.6rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.category div:hover{
    opacity: 0.5;
}
.notify{
    padding-top: 1.9rem;
    padding-bottom: 0.5rem;
    display: flex;
    overflow-y: scroll;
    justify-content: flex-start;
}
.notify::-webkit-scrollbar{
    display: none;
}
.notify .content{
    min-width: 29rem;
    min-height: 14rem;
    background-color: #F4F4F4;
    padding: 1.6rem 3.25rem;
    margin-right: 1.2rem;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25); 
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25);
}
.notify .content div{
    font-size: 1.6rem;
    font-weight: 600;
}
.notify .content p{
    margin-top: 0.8rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6rem;
}
.sale{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.sale a{
    transition: 0.3s ease-in-out;
}
.sale a:hover{
    opacity: 0.5;
}
#products{
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: flex-start;
    overflow: auto;
}
#products::-webkit-scrollbar{
    display: none;
}

.container{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    transition: 0.2s ease-in-out;
}
.container:hover{
    transform: scale(1.01);
    cursor: pointer;
}
.timing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color: #fff;
    min-width: 9.6em;
    max-width: 9.6em;
    min-height: 4.8em;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25); 
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25);
    border-radius: 3rem;
    margin-left: 18rem;
    margin-top: -3.5rem;
}
.timing div, .res_name{
    font-size: 1.6rem;
    font-weight: 600;
}
.timing p, .res_desc_rate .res_desc, .res_info{
    font-size: 1.2rem;
    font-weight: 400;
}
.res_desc_rate{
    display: flex;
    margin-top: 0.5rem;
}
.res_desc_rate div svg{
    margin-right: 1.13rem;
}
.res_info{
    margin-top: 0.5rem;
}
.res_desc_rate .res_desc{
    padding-right: 1rem;
}