@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
html{
    font-size: 10px;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F6EBDA;
}
.azz{
    display: flex;
    background-color: #2F2105;
    width: 41.6rem;
    height: 41.6rem;
    align-items: center;
    justify-content: center;
    border-radius: 20.8rem;
}
.wrap{
    display:flex;
    margin-left: 40rem;
    padding: 9rem;
}
.labels{
    display: block;
    /* flex-direction: column; */
}
.cappuccio, .voto, .prezzo{
    position: absolute;
    font-weight: 600;
    border-radius: 4.2rem;
    font-size: 2.4rem;
    color: #2F2105;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 1px 10px rgba(255,255,255,0.5); 
    box-shadow: 0px 0px 1px 10px rgba(255,255,255,0.5);
}
.cappuccio{
    width: 27.1rem;
    height: 5.7rem;
    display: flex;
    margin-left: -42.8rem;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.1); 
    box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.1);
}
.voto{
    width: 13.3rem;
    height: 5.7rem;
    font-weight: 700;
    display:flex;
    align-items: center;
    margin-top: 8rem;
    margin-left: -8.8rem;
    justify-content: center;
}
.voto svg{
    margin-left: 9px;
    margin-bottom: 3px;
}
.prezzo{
    width: 14.1rem;
    height: 5.7rem;
    display: flex;
    margin-left: -40rem;
    margin-top: 32rem;
    justify-content: center;
    align-items: center;
}