@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

/* GENERALE  */
html,
body {
  margin: 0;
  padding: 0;
}
h1 {
  color: royalblue;
}
