@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;900&display=swap");

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #24a148;
    --secondary-color: #d0d0d0;
}

body {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
}

header {
    margin: 24vw 6vw 6vw 6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5vw;
}

#progress-bar {
    width: 100%;
    height: 2vw;
    background-color: var(--secondary-color);
    border-radius: 1vw;
    display: flex;
    justify-content: flex-start;
}

#progress-value {
    width: 30%;
    height: 2vw;
    background-color: var(--primary-color);
    border-radius: 1vw;
}

header > h1 {
    font-weight: 600;
    font-size: 1.8rem;
}

button {
    border: none;
}

p, legend {
    color: var(--secondary-color);
}

main {
    margin: 6vw;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 4vw;
}

.motivation-option {
    border: 0.18em solid var(--primary-color);
    border-radius: 0.6rem;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    padding: 0.8rem;
}

.motivation-option input:checked {
    accent-color: var(--primary-color);
}

.motivation-caption label {
    font-weight: 400;
    font-size: 1.2rem;
}

.motivation-caption p {
    font-weight: 400;
    font-size: 0.7rem;
}

div + legend {
    margin-top: 5vw;
}

footer {
    width: 100%;
    /* height: 8vw; */
    border-top: 0.15rem solid var(--secondary-color);
    position: fixed;
    bottom: 0;
}

footer button {
    width: 88%;
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    margin: 4vw 6vw;
    border-radius: 50px;
    padding-top: 4vw;
    padding-bottom: 4vw;
}

footer button:hover {
    background-color: rgb(54, 54, 54);
}

footer button:active {
    background-color: rgb(108, 108, 108);
}


