@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;900&display=swap");

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #24a148;
    --seconary-color: #d0d0d0;
}

body {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
}

header {
    margin: 24vw 6vw 6vw 6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5vw;
}

#progress-bar {
    width: 100%;
    height: 2vw;
    background-color: var(--seconary-color);
    border-radius: 1vw;
    display: flex;
    justify-content: flex-start;
}

#progress-value {
    width: 30%;
    height: 2vw;
    background-color: var(--primary-color);
    border-radius: 1vw;
}

header > h1 {
    font-weight: 600;
    font-size: 1.8rem;
}

button {
    border: none;
}

p, legend {
    color: var(--seconary-color);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* TODO no idea why it doesnt space around */
}

.motivation-option {
    border:  1px solid var(--primary-color);
}
