@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* Reset  */

* {
    margin: 0;
    padding: 0;
}

body {
    /* Reset (maybe) */
    /* margin: 0;
    padding: 0; */
    /* background-color: black;
    color: white; */
    font-family: 'Roboto', sans-serif;
}

section {
    margin: 2rem;
}

header div,
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1.3rem;
    height: 3rem;
}

ul li {
    list-style: none;
}

main {
    /* height: 3000px; */
}

#tab-bar {
    position: fixed;
    bottom: 0px;
    width: 100%;
    bottom: 0;
}

#tab-bar ul {
    border-top: 0.2rem solid aliceblue;
    background: #525252;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}