@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');

/* Reset  */

* {
    margin: 0;
    padding: 0;
}

body {
    /* Reset (maybe) */
    /* margin: 0;
    padding: 0; */
    background-color: #292929;
    color: white;
    font-family: 'Roboto', sans-serif;
}

section {
    margin: 2rem;
}

button {
    height: 3.2rem;
    width: 3.2rem;
    border: none;
    border-radius: 50%;
}

ul li {
    list-style: none;
}

header div,
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1.3rem;
    height: 5rem;
}

#litfit {
    font-size: 38px;
    font-weight: 900;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #fff;
    -webkit-text-fill-color: #000;
}

main {
    /* height: 3000px; */
}

#tab-bar {
    position: fixed;
    bottom: 0px;
    width: 100%;
    bottom: 0;
}

#tab-bar ul {
    border-top: 0.2rem solid aliceblue;
    background: #525252;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}