@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');

/* Reset  */

* {
    margin: 0;
    padding: 0;
}

body {
    /* Reset (maybe) */
    /* margin: 0;
    padding: 0; */
    background-color: #333333;
    color: white;
    font-family: 'Roboto', sans-serif;
    z-index: 0;
    padding-bottom: 3rem;
}

button {
    background-color: #303030;
    height: 3.2rem;
    width: 3.2rem;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    /* flex-direction: row-reverse; */
    align-self: center;
}

button:active,
button:hover,
.function:active,
.function:hover {
    background-color: #595959;
}

button img,
button svg {
    align-self: center;
}

ul li {
    list-style: none;
}

header div,
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* gap: 1.3rem; */
    height: 4rem;
}

#litfit {
    font-size: 38px;
    font-weight: 900;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #fff;
    -webkit-text-fill-color: #000;
}

main {
    /* height: 3000px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

section {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.9rem;
}

section button svg {
    fill: red;
}


/* TENTATIVO di customizzare la progress bar */

#progress-bar {
    position: relative;
    height: 0.4rem;
    color: #f259005a;
    background-color: #f259005a;
    width: 0.4rem;
    background: #f259009c;
    border-radius: 0.21rem;
    top: 1.3rem;
}

::-moz-progress-bar {
    background-color: #f259005a;
}

progress {
    background-color: transparent;
    border-radius: 1rem;
    height: 0.4rem;
    overflow: scroll;
}

#calories #rail {
    height: 9rem;
    width: 9rem;
    border: 0.4rem solid #f259005a;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calories h1 {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}

#calories p {
    display: flex;
    justify-content: center;
    color: #ababab;
    font-size: 1.2rem;
}

.function {
    border: 0.1rem solid #ababab;
    border-radius: 0.5rem;
    height: 5rem;
    padding: 0 1.2rem;
    /*
    display: flex;
    gap: 1rem;
    */
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 0px;
}

.function:hover,
.function:active {
    border: 0.1rem solid white;
}

.circle {
    background-color: #525252;
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caption {}

#your-weight {
    font-size: 1.5rem;
}

#tab-bar {
    position: fixed;
    bottom: 0px;
    width: 100%;
    bottom: 0;
}

#tab-bar ul {
    border-top: 0.1rem solid aliceblue;
    background: #525252;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#tab-bar li:hover,
#atab-bar li:active {
    background: #696969;
}