@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;900&display=swap');
:root {
    --primary-color: #525252;
    /* DARKGREY */
    --secondary-color: #c3c3c3;
    /* LIGHTGREY */
    --tertiary-color: #00FFE3;
    /* TEAL */
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;

    background-color: #000;
    color: #fff;

}

button {
    border-style: none;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: var(--primary-color);
    border-radius: 50%;
}

#ui-nav {
    width: 100%;
    position: fixed;
    top: 0;
}

#ui-nav nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 4.2rem 1.2rem 1.2rem 1.2rem;
}

#ui-nav nav button {
    background-color: var(--secondary-color);
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
}

#ui-nav nav button:hover {
    background-color: var(--primary-color);
    border-radius: 50%;
}

#artist {
    width: 100vw;
}

.play-button {
    display: flex;
    flex-direction: row-reverse;
    margin: -2.7rem 1.2rem 0 0;
}

.slim-text, .info-key {
    font-weight: 400;
    font-size: 0.6rem;
    color: var(--secondary-color);
}

#songs {
    padding: 2rem 0rem 2rem 2rem;
}

#song-album {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 12.8rem;
}

#song-album > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.3rem;
    overflow: scroll;
    /* overflow-x: hidden; */
    height: 10.2rem;
    /* for IE and Edge */
    -ms-overflow-style: none;
    /* for Firefox */
    scrollbar-width: none;
}

#song-album::-webkit-scrollbar {
    /* for Chrome, Opera and Safari */
    display: none;
}

.album-card {
    width: 40vw;
}

.album-frame {
    width: 26vw;
    height: 26vw;
    background-color: var(--primary-color);
    border: 1rem solid var(--secondary-color);
    border-radius: 0.4rem;
}

#song-album .play-button {
    margin-right: 0.2rem;
    margin-top: -2rem;
}

.smaller-play {
    width: 1.6rem;
    height: 1.6rem;
}

#song-singles {
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem
}

.song-card {
    background-color: var(--primary-color);
    padding: 0.5rem 0 0.5rem 0.5rem;
    border-radius: 0.4rem;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-gap: 1rem;
}

.song-card-img {
    background-color: var(--secondary-color);
    width: 23vw;
    height: 23vw;
    border-radius: 0.2rem;
}

.song-card button {
    align-self: flex-start;
}

.song-card svg {
    fill: white;
    justify-content: flex-end;
}