@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;900&display=swap');

:root {
    --content_DARKGREY: #525252;
    --content_LIGHTGREY: #c3c3c3;
    --content_TEAL: #00FFE3;
}

* {
    margin: 0 ;
    padding: 0 ;
}

body  {
    font-family: 'Work Sans', sans-serif;
}

button {
    border-style: none;
    background-color: transparent;
}

#ui-nav {
    width: 100%;
    position: fixed;
    top: 0;
}

#ui-nav nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 4.2rem 1.2rem 1.2rem 1.2rem;
}

#ui-nav nav button {
    background-color: var(--content_LIGHTGREY);
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
}

#artist {
    width: 100vw;
}

.play-button {
    display: flex;
    flex-direction: row-reverse;
    margin-top: -2.7rem;
}