body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#sidebar { grid-area: 1 / 1 / 7 / 2; }
#searchbar { grid-area: 1 / 2 / 2 / 7; }
h1 { grid-area: 2 / 2 / 3 / 7; }
#assets-values { grid-area: 3 / 2 / 7 / 4; }
#activity-graph { grid-area: 3 / 4 / 4 / 7; }
#noties { grid-area: 4 / 4 / 6 / 5; }
#sensors { grid-area: 4 / 5 / 6 / 6; }
#reminder { grid-area: 6 / 4 / 7 / 6; }