@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
    --bg-color: #1F2128;
    --sidebar-color: #242731;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
    color: #808191;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    /* GRIDBOX */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 0px;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #808191;
}

a:active {
    color: #fff;
}

#sidebar, #searchbar, #assets-values, #activity-graph, #noties, #sensors, #reminder {
    background-color: var(--sidebar-color);
}

#assets-values, #activity-graph, #noties, #sensors, #reminder {
    border-radius: 0.8rem;
}

#sidebar {
    grid-area: 1 / 1 / 7 / 2;
    height: 100vh;
    padding: 1.4rem 2.4rem 1.4rem 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sidebar li {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.5rem 3rem 0.5rem 0.5rem;
    font-size: 0.8rem;
    align-items: center;
}

#sidebar li:hover {
    background-color: #292e3d95;
    border-radius: 0.2rem;
}

#sidebar a[active], #sidebar li[active] {
    color: #fff;
    background-color: #292E3D;
}

#sidebar > ul:last-child {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

#logo-caption {
    display: flex;
    direction: row;
    justify-content: flex-start;
    gap: 1rem;
    margin-bottom: 2rem;
}

#logo-caption h1 {
    color: #fff;
    font-size: 1.3rem;
}

#logo-caption + ul {
    display: flex;
    flex-direction: column;
}

#searchbar {
    background-color: var(--sidebar-color);
    /* GRIDBOX */
    grid-area: 1 / 2 / 2 / 7;
}
h1 {
    grid-area: 2 / 2 / 3 / 7;
}
#assets-values {
    grid-area: 3 / 2 / 7 / 4;
}
#activity-graph {
    grid-area: 3 / 4 / 4 / 7;
}
#noties {
    grid-area: 4 / 4 / 6 / 5;
}
#sensors {
    grid-area: 4 / 5 / 6 / 6;
}
#reminder {
    grid-area: 6 / 4 / 7 / 6;
}
