@import url("https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap");

button {
    background: #ffffff;
    box-shadow: 0px 4px 12px rgba(29, 29, 29, 0.15);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    border: 0px;
    margin-right: 35px;
}

.giallo {
    background-color: #ffcb45;
}

p {
    font-family: "Readex Pro", sans-serif;
}
