#delivery {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


/* Non così furbo fino adesso */

.furbo {
    text-decoration: underline;
    text-decoration-color: orange;
}

.delivery-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.delivery-card {
    width: 305px;
    height: 245px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
    padding: 10px 20px 20px 10px;
}

.delivery-card>* {
    margin: 10px;
}


/* Zoom per uniformare le immagini per le delivery-card */

.delivery-card>img {
    width: 159px;
    height: 159px;
}

#delivery button {
    border: none;
    display: flex;
    font-size: xx-large;
    justify-content: center;
    border-radius: 30px;
    background-color: orange;
    padding: 7px 0px;
    margin: 10px 360px 5px;
    color: white;
    gap: 20px;
}

#delivery svg {
    width: 40px;
    height: 40px;
    fill: white;
}