body{
    background-color: #f0f2f5;

}
.logo{
    width: 250;
    height: 100;
}

.accedi{
    background-color: #1877f2;
    border-radius: 6px;
    width: 332px;
    height: 100;

}

.informazioniAccount{
    align-items: center;
    background-color: white;
    width: 500px;
    height: 150px;
}