*{
    justify-content: center;
    align-self: end;
    background-color: wheat;

}
div {
    font-family: arial;
    font-size: 24px;
    margin: 25px;
    width: 350px;
    height: 200px;
    outline: dashed 1px black  ;
    display: flex;
    justify-content: center;
}
