body{
    background-color: #f0f2f5;

}
.logo{
    width: 250;
    height: 100;
}

.accedi{
    background-color: #1877f2;
    border-radius: 6px;
    width: 332px;
    height: 60px;

}
.accedi:hover{
    background-color: #5ca2ff;
}
.accedi:onclick{
    background-color: aliceblue;
}

input{
    border-radius: 8px;
    height: 35px;
    width: 332px;
}


.informazioniAccount{
    padding: 100px;
    border-radius: 16px;
    width: 336px;
    height: 700px;
    background-color: white;
    width: 500px;
    height: 150px;
}
img{
    width: 400px;
    height: 80px;
}