
* {font-family: Arial, Helvetica, sans-serif;}

p {font-size: 14px;}


#container {
    display: flex;
    gap: 50px;
}

#testo {
    margin-top: 50px;
/*    padding-inline-start: 50px; */
}

#grigliafoto {
    display: flex;
    margin-top: 50px;
    margin-left: 20px;
    
}

#foto1 {

    width: fit-content;
}

#foto2 {
    margin-left: -472px;
    margin-top: 200px;
}

#foto3 {
    margin-top: 200px;
    margin-left: -24px;  
}

.review {
    background-color: rgba(227, 218, 218, 0.559);
    height: 160px; width: 420px;
    border-radius: 10px;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
}


#stelle {
    margin-left: 100px;
    margin-top: -15px;
}

h4 {
    margin-top: -55px;
    padding-left: 100px;
}

span {color: #FFCB45;}

.opacità {opacity: 0.3;}

#pallini {
    text-align: center;
}

.contenitorereview {
    display: flex;
    flex-direction: column;

}

.contenitoreesterno{
    display: flex;
    gap: 20px;
}