main{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#login-form {
    text-align: center;
}

#login-form input
{
    margin: 12px;
}

#login-form label
{
    color: darkblue;
}

#login-image
{
    margin: 12px;
}

#send-button
{
    margin-bottom: 12px;
}

header
{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer
{
    text-align: center;
}
