@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* NAV > 600px */
* {
  /* box-sizing: border-box; */
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logoPng {
  height: 20px;
}
nav > div {
  margin: 2px;
}

a {
  color: black;
}

.ricerca {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.searchBar {
  border-radius: 35px;
  border-width: 0.1px;
  border-style: none;
  color: #92929255;
  height: 40px;
  width: 400px;
  box-shadow: 0px 0px 30px -16px rgb(0 0 0 / 30%);
  background: url(vectorSearchBar.png) no-repeat scroll center left 10px;
  background-size: 15px;
  padding-left: 30px;
  font-family: "Poppins", sans-serif;
}
.searchBar:hover {
  box-shadow: 0px 0px 30px -16px rgb(0 0 0 / 60%);
  border-color: #ffffff;
}
.filtroRicerca {
  float: left;
}
button > svg {
  height: 22px;
}
nav button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin-left: 20px;
}
button > div {
  background-color: #fff42b;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  position: relative;
  bottom: 28px;
  left: 20px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 1);
}

/* NAV <= 600px */
@media only screen and (max-width: 600px) {
  nav {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    flex-direction: column;
  }
  nav > div {
    margin: 2px;
  }
  .searchBar {
    width: 260px;
  }
  .filtroRicerca {
    margin-left: 20px;
  }
  .cart {
    position: absolute;
    left: 80%;
    bottom: 90%;
  }
}

/* AREA CATEGORIE  */
.filtroCategorie {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  height: 20px;
}
.filtroCategorieTesto {
  text-decoration: underline;
  color: lightgrey;
}
.categorie a {
  text-decoration: none;
}
.categorie {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}
.categoria {
  display: flex;
  background-color: #d0d0d0;
  height: 30px;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0px 0px 30px -16px rgb(0 0 0 / 60%);
}
.nomeCategoria {
  margin-left: 5px;
}
.imgCategoria {
  margin-right: 5px;
}

/*  AREA PRODOTTI */
.areaProdotti {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.schedaProdotto {
  width: 340px;
  height: 266px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px;
}
.fotoProdotto {
  background-image: url(imgSvg/Rectangle\ 102.png);
  border-radius: 12px;
  width: 340px;
  height: 180px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
/* Caricamento foto prodotto */

#user1 {
  background-image: url(imgSvg/Rectangle\ 102.png);
}
#user2 {
  background-image: url(imgSvg/pizza.jpg);
  background-size: contain;
}

.fotoProdotto > div {
  background-color: rgba(82, 82, 82, 0.8);
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 12px;
}

.testoProdotto {
  margin: 2px;
  padding: 5px;
  width: 258px;
}
.costoSpedizioneProdotto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
}
.costoSpedizioneProdotto > span {
  margin-left: 10px;
  font-size: 12px;
}

.tagProdotto {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.tagProdotto > div {
  border-radius: 4px;
  background-color: #d0d0d0;
  padding: 5px;
  font-size: 12px;
  margin: 2px;
}

@media only screen and (max-width: 600px) {
  .areaProdotti {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* FOOTER */
.footer {
  height: 90px;
  background-color: red;
}
