@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.logoPng {
  height: 20px;
}
nav > div {
  margin: 2px;
  width: 20%;
}

.ricerca {
  width: 40%;
}

.searchBar {
  border-radius: 35px;
  border-width: 0.1px;
  border-style: none;
  color: #92929255;
  height: 40px;
  width: 400px;
  box-shadow: 0px 0px 30px -16px rgb(0 0 0 / 30%);
  background: url(vectorSearchBar.png) no-repeat scroll center left 10px;
  background-size: 15px;
  padding-left: 30px;
  font-family: "Poppins", sans-serif;
}
.searchBar:hover {
  box-shadow: 0px 0px 30px -16px rgb(0 0 0 / 60%);
  border-color: #ffffff;
}
button > svg {
  height: 22px;
}
nav button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin-left: 20px;
}
button > div {
  background-color: #fff42b;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  position: relative;
  bottom: 28px;
  left: 20px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 1);
}
