select{
    border-radius: 15px;
    /* padding: 5px; */
}


.primo{
    display: flex;
    flex-direction: column;
}
.secondo{

}
.tag{
    background-color: transparent;
    border: 1px solid;
    border-color: beige;
    border-radius: 30px;

    
}

.angolo {
    border-radius: 30px;
}