@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  /* box-sizing: border-box; */
  font-family: "Poppins", sans-serif;
}

/* GENERALE  */
html,
body {
  margin: 0;
  padding: 0;
}

/* NAV */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

/* CALENDARIO */

.calendario-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.calendario {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: white;
  height: 380px;
  width: 350px;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding-top: 20px;
}
/* area selezione del mese/anno */
.data {
  display: flex;
  padding: 2px;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.selezioneMese {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.selezioneMese div {
  margin-right: 15px;
  margin-left: 15px;
}
/* area selezione delle settimane */
.settimane {
  background-color: white;
  /* box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1); */
  border-radius: 12px;
  height: 400px;
  width: 70%;
  margin-top: 10px;
}
.giorniSet {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#nomeGiorno {
  color: lightgray;
}
.tabgiorniSetnumeri-container {
  margin-top: 20px;
}
#numeroGiorno:hover {
  background-color: rgba(211, 211, 211, 0.2);
  padding: 10px;
  border-radius: 10px;
}

.giorniSet > span {
  margin-left: 8px;
  margin-right: 8px;
}
.giorniSetNumeri {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.giorniSetNumeri > span {
  margin-left: 20px;
  margin-right: 18px;
}
.spazioGiorni {
  margin-top: 30px;
  margin-bottom: 10px;
}

/* Selezione orario */
.orario {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.selezioneOrario {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* BOTTONE AM PM  */

.orarioSet {
  background-color: rgba(211, 211, 211, 0.6);
  margin-right: 5px;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
}
.selezioneOrario button {
  background: none;
  color: black;

  border: none;
  cursor: pointer;
  outline: inherit;
}
.amPM {
  background-color: rgba(211, 211, 211, 0.6);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 5px;
  border-radius: 5px;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
}
.buttonAM,
.buttonPM {
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
}

.buttonAM:hover {
  background-color: white;
  border-radius: 8px;
}

.buttonPM:hover {
  background-color: white;
  border-radius: 8px;
}

@media only screen and (max-width: 600px) {
  /* CALENDARIO */
  /* area selezione del mese/anno */

  /* .data {
    width: 65%;
  }
  .meseAnno {
    position: relative;
    right: 20%;
  }

  .selezioneMese {
    position: relative;
    left: 20%;
  }
} */
  /* .settimane {
  height: 350px;
  width: 90%;*/
}
