@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
body {
	background-color: #181823;
	font-family: "Lato", sans-serif;
	font-style: normal;
	margin: 0;
	padding: 0;
}
h1, p {
	margin: 0;
	padding: 0;
}
#wrap {
	align-content: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 9.375rem; 
	padding: 6.25rem 16.25rem;
}
#wrap-right {
	align-content: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.25rem;
}
#my-h1 {
	color: #DEECF9;
	font-size: 2.25rem;
	font-weight: 700;
	letter-spacing: 0.02rem;
	line-height: 147%;
	text-transform: capitalize;
	padding-bottom: .625rem;
}
#linea {
	background-color: #14B8E4;
	border-radius: 4px;
	height: .25rem;
	width: 4.375rem;
}
#my-p {
	color: #C7E0FA;
	font-size: 1.125rem;
	font-weight: 400;
	letter-spacing: 0.005rem;
	line-height: 2.375rem;
}