@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

/* GENERALE  */
html,
body {
  margin: 0;
  padding: 0;
}

/* SIDEBAR  */
.sideBar-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 248px;
  height: 700px;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
}

/* LOGO */
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.logo > div {
  margin: 10px;
}

/* opzioni */
.menu {
  width: 100%;
  /* height: 500px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.opzione {
  color: rgba(95, 97, 101, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.opzione > img {
  margin-right: 10px;
}

.opzione:hover {
  cursor: pointer;
  background-color: rgba(243, 245, 248, 1);
  border-radius: 6px;
}

/* login - logout */
.settings-login-logout {
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
#setting-login-logout {
  margin-top: 0px;
  margin-bottom: 0px;
}
