@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

/* GENERALE  */
html,
body {
  margin: 0;
  padding: 0;
}
.global-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* .applicazioni-container {
  display: flex;
  flex-direction: column;
} */

/* SIDEBAR  */
/* .sideBar-container--hide {
  display: none;
} */
.sideBar-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 15.5rem;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  position: relative;
  padding: 10px;
}

/* LOGO */
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.logo > div {
  margin: 10px;
}

/* opzioni */
.menu {
  width: 100%;
  /* height: 500px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.opzione {
  color: rgba(95, 97, 101, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.opzione > img {
  margin-right: 10px;
}

.opzione:hover {
  cursor: pointer;
  background-color: rgba(243, 245, 248, 1);
  border-radius: 6px;
}

/* login - logout */
.settings-login-logout {
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
#setting-login-logout {
  margin-top: 0px;
  margin-bottom: 0px;
}
/* NAVBAR */
.navbar {
  height: 78px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navbar > input {
  margin-left: 30px;
}
.area-profilo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.area-profilo > div,
a {
  margin-left: 10px;
  margin-right: 30px;
}
.selettore-interno {
  height: 78px;
}
.applicazioni {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1200px;
  /* height: 100%; */
}
.calendario-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.calendario {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
  width: 384px;
  margin: 10px;
}

.upcoming-events {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
  height: 421px;
  width: 384px;
}
.pianifica {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
  width: 623px;
  margin: 10px;
}
.navbar input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  margin-left: 20px;
  border: none;
  font-size: 17px;
  border-radius: 6px;
  width: 22.375rem;
  height: 45px;
  /* padding: 0 28px; */
  background-color: white;
  /* background: white url(img/search.png) no-repeat 2px 13.5px; */
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
}

.search {
  height: 25px;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #f5f5f5;
}

.notifica {
  position: relative;
  color: #7c7c8d;
}
.notifica > div {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: rgba(255, 94, 111, 1);
  position: absolute;
  bottom: 19px;
  left: 12px;
}

/* selettore interno */
.selettore-interno {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.selettori {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-right: 230px;
}
.selettori > div {
  margin-left: 20px;
  background-color: white;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 6px;
  width: 100px;
}
.selettore {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Applicazioni - calendario */

/* area selezione del mese/anno */
.data {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.selezioneMese {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.selezioneMese div {
  margin-right: 15px;
  margin-left: 15px;
}
/* area selezione delle settimane */
.settimane {
  border-radius: 12px;
  height: 400px;
  padding: 5px;
  margin-top: 10px;
}

/* selezione settimana o mese */
.selezioneSettimanaMese {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  margin: 5px;
}
.selezioneSettimanaMese > div {
  width: 10rem;
  text-align: center;
  padding: 10px;
  border-radius: 12px;
}
.selezioneSettimanaMese > div:hover {
  padding: 10px;
  color: white;
  border-radius: 20px;
  background-color: #ff6370;
  box-shadow: 0px 6px 20px rgba(255, 126, 134, 0.4);
}

/* calendario grid */

.settimaneGrid {
  /* box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1); */
  /* border-radius: 12px; */
  /* height: 400px; */
  padding: 20px;
  margin-top: 10px;
}
.parent {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  color: black;
  margin-top: 10px;
}

.giorniSetim,
.parent {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 18px;
  grid-row-gap: 20px;
}

/* Inizia da */
.parent button:first-child {
  grid-column: 3;
}
.parent button {
  position: relative;
  border: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: transparent;
}
.parent button:hover,
.parent button:focus {
  cursor: pointer;
  outline: none;
  background-color: #ff6370;
  color: white;
  box-shadow: 0px 6px 20px rgba(255, 126, 134, 0.4);
}

/* upcoming events */
.titolo {
  margin-left: 10px;
}
.eventi {
  padding: 10px;
}
.containerEventi {
  display: grid;
  grid-template-columns: 3.125rem 18.75rem;
  grid-template-rows: 20px 40px;
  gap: 0px 1px;
  grid-auto-flow: row;
  align-items: start;
}
.impegnoGrid {
  color: white;
  border-bottom: solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  align-content: flex-start;
}
.divisoreEventi {
  height: 1px;
  background-color: #72767c2e;
}
.orarioGrid {
  color: #72767c;
}
#hideImpegno {
  display: none;
}
.impegnoPreso {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 1px;
  float: right;
  width: 17.5rem;
  height: 3.125rem;
  margin-right: 20px;
  border-radius: 10px;
  color: white;
  background-color: #a162f7;
  padding: 10px;
}
#urgenteImpegno {
  background-color: #70cf97;
}
.fotoPersone {
  position: relative;
  top: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.numeroPersoneInvitate {
  display: table;
  background-color: rgba(182, 131, 255, 1);
  width: 22px;
  height: 22px;
  font-size: 11px;
  border-radius: 50%;
  margin-bottom: 6px;
  text-align: center;
  padding: 2px;
}
#urgentenumeroPersone {
  background-color: #87d1a6;
}
.numeroPersoneInvitate > span {
  display: table-cell;
  vertical-align: middle;
}
.fotoPersone > div {
  margin-left: -5px;
}
.numeroPersoneInvitate {
  margin-left: -5px;
}
