@import url('https://fonts.googleapis.com/css2?family=Work+Sans');

h1 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: #262626;
    display: flex;
    align-items: center;
}

p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #262626;
    display: flex;
    align-items: center;
}


#FullName {

    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    background-color: white;
    background-image: url('User.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;

}


#Email {

    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    background-color: white;
    background-image: url('mail.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;

}

.Password {
    display: grid;
    grid-template-columns: 1fr 0fr;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;

}

#PW {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    background-color: white;
    background-image: url('password.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

#logo {
    width: 48px;
    max-height: 48px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 1px 1px 1px 1px;
}

#Create {
    width: 100%;
    background: #0043CE;
    border: none;
    cursor:pointer;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    color: #ccc;
    display: inline-block;
    font-size: 16px;
}

#Recover {
    width: 100%;
    background: rgb(255, 255, 255);
    border: none;
    cursor:pointer;
    color: #0043CE;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}