@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

/* GENERALE  */
html,
body {
  margin: 0;
  padding: 0;
}
h1 {
  color: royalblue;
}
/* GENERALE  */
html,
body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}
.containerLista {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  width: 80%;
  box-shadow: 5px 5px 15px 5px #6463639d;
  border-radius: 12px;
}
.titolo {
  padding: 20px;
  font-size: 25px;
  font-weight: 700;
}
.inputTesto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.inputTesto > span {
  font-size: 30px;
}
.inputTesto input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  margin-left: 20px;
  border: none;
  font-size: 17px;
  border-radius: 6px;
  width: 20rem;
  height: 45px;
  /* padding: 0 28px; */
  background-color: white;
  /* background: white url(img/search.png) no-repeat 2px 13.5px; */
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
}

.search {
  height: 25px;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #f5f5f5;
}

.btn {
  margin: 10px;
  outline: none;
  text-align: center;
  appearance: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  color: #212529;
  background-color: #e2e6ea;
  padding: 10px 20px;
  box-shadow: 0 0 0 0.2rem rgb(216 217 219 / 50%);
}
.btn:hover {
  background-color: #b6b9bd;
  box-shadow: 0 0 0 0.2rem rgba(172, 173, 174, 0.5);
}

.titolo2 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
}
.promemoria {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  padding: 20px;
  width: 80%;
  box-shadow: 5px 5px 15px 5px #625d5d67;
}
