@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");

body {
  font-family: "Comfortaa", cursive;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}
.conteinerPoesie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  background-color: white;
  box-shadow: 5px 5px 15px 5px #6463639d;
  border-radius: 10px;
}
.conteinerPoesie > div {
  padding: 10px;

  text-align: center;
}
.btn {
  margin: 10px;
  outline: none;
  text-align: center;
  appearance: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  color: #212529;
  background-color: #e2e6ea;
  padding: 10px 20px;
  box-shadow: 0 0 0 0.2rem rgb(216 217 219 / 50%);
}
