body {
    background-color: black;
    color: white;
}

h1 { 
    font-size: 70px;
    margin: 0x 700px 0px 30px;
}

h5 {
    font-weight: 400;
    margin: 0x 700px 0px 30px;

}
button {
    width:500px;
    background-color: red;
    color: white;
   
    margin: 0px 80px 60px 20px;
    padding: 10px 20px 10px 35px;
    border-radius:50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
img {
    width: 700px;
    height: 700px;
    margin: 0px 100px 0px 50px;
}

