@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
}
body{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    background-color: #F5F4F6;
    color: #242731;
}
main{
    display: flex;
}
.barra_sx{
    min-width: 12.54%;
    min-height: 64rem;
    padding: 1.875rem;
    background-color: #fff;
}
.logo{
    display: flex;
    align-items: center;
}
.logo span + span{
    font-weight: 700;
    font-size: 1.5rem;
    padding-left: 0.75rem;
}
.voci_sx{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2.8125rem;
}
.menu_buttons{
    background-color: transparent;
    color: #5F6165;
    border: none;
    padding: 0.4375rem 2.5rem 0.25rem 0.75rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    margin-bottom: 0.75rem;
    display: flex;
    position: relative;
    min-width: 100%;
    cursor: pointer;
}
.menu_buttons:hover{
    background-color: #F3F5F8;
    border-radius: 0.375rem;
}
/* .menu_buttons > span:first-child{

} */
.menu_buttons > span + span{
    font-size: 0.875rem;
    padding-left: 0.625rem;
}



.content{
    width: 68.125rem;
}
.content .nav{
    display: flex;
    background-color: #fff;
    margin-left: .0625rem;
    padding: 1rem 1.875rem 1rem 1.875rem;
    justify-content: space-between;
}
.content .nav div:first-child{
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 4rem;
}
.content .nav div:first-child svg{ 
    position: absolute;
    padding-left: .875rem;
}
.content .nav div:first-child input{ 
    font-family: 'DM Sans', sans-serif;
    background-color: #F5F4F6;
    color: #7C7C8D;
    padding: 1rem 1.125rem 1rem 3.6rem;
    border: none;
    outline: none;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: 500;
    width: 15.65rem;
}
.content .nav div:last-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content .nav div:last-child button{
    background-image: url("../assets/avatar.png");
    width: 3.125rem;
    height: 3.125rem;
    border: none;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.content .nav div:last-child svg{
    cursor: pointer;
    padding-left: 0;
}

.content .belly{
    margin: 1.5rem 0 0 1.875rem;
}
.content .belly > div:first-child{
    color: #242731;
    font-size: 1.875rem;
    font-weight: 700;
}
.content .belly > div:last-child{
    display: flex;
    margin-top: .9375rem;
}
/* .content .belly > div:last-child div{
    margin-right: 1.5rem;
} */
.content .belly .info_sx{
    border-radius: .875rem;
    background: #438FFE;
    width: 19.5625rem;
    height: 41.5rem;
    padding: 1.9375rem 1.5625rem;
    margin-right: 1rem;

}
.content .belly .info_sx div{
    display: flex;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
}
.content .belly .info_sx > div:not(:last-child) span div:first-child{
    font-size: 1rem;
    font-weight: 400;
    color: #C6DCFC;
    padding-bottom: 5px;
}
.content .belly .info_sx hr{ 
    /* border:         none;
    border-left:    .125rem solid hsla(200, 10%, 50%,100);
    height:         100%;
    border-color: #579BFF;
    padding-right: 3rem;
    margin-left: 3rem; */
    width: 1rem;
    transform: rotate(90deg);
}
.content .belly .info_sx > div:not(:first-child){
    margin-top: 2.1875rem;
}
.content .belly .info_sx > div:last-child{
    margin-top: 3rem;
}