/* Generale */

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");

:root {
  --content_margin: 1.3rem;
  --accent_color: #3a595d;
}

body {
  font-size: 1rem;
  font-family: "Nunito Sans", sans-serif;
  color: #262626;
  margin: 0;
}
.material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

/*Header*/

header {
  position: sticky;
  background-color: white;
  top:0;
  padding: var(--content_margin);
  z-index: 100;
}
.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-container i {
  margin-right: 1rem;
}
.header-container h4{
    margin: 0;
}

/*Main*/

/* -- Filters*/

.filter-button {
  visibility: hidden;
  position: absolute;
}
.filters-container{
    margin: 0;
    padding: 0.5rem 0;
    overflow-x:auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.filters-container label:first-of-type {
  margin-left: var(--content_margin);
}
.filters-container::-webkit-scrollbar
{
    display: none;
}
.button-style {
  background-color: transparent;
  border-radius: 1rem;
  color: black;
  border: 1px solid black;
  margin: 0 0.8rem 0 0;
  padding: 0.3rem 0.7rem;
}
.filters-container i {
  vertical-align: middle;
  margin-right: 0.5rem;
  font-size: 20px;
}
.filters-container input:checked + label.button-style {
  background-color: var(--accent_color);
  color: 
  white;
  border: 1px solid var(--accent_color);
}
.filters-info{
    margin: var(--content_margin);
    font-size: small;
}
.filters-info i{
    font-size: 12px;
    margin: 0;
    padding: 0;
}

/* -- Hotel Card*/

.hotel-card{
  margin-bottom: 2rem;
  position: relative;
}
.hotel-card:last-child{
  margin-bottom: 6rem;
}
.hotel-card img{
  width: 100vw;

}
.hotel-card i:first-child{
    margin-top: 0.3rem;
    color: var(--accent_color);
}
.hotel-card button:first-child{
    height: 3rem;
    width: 3rem;
    border: 0;
    background-color: #f4f4f4;
    border-radius: 200px;
    position: absolute;
    right: var(--content_margin);
    margin-top: var(--content_margin);
}
.hotel-info{
    margin: var(--content_margin);
}
.hotel-info h2{
    margin: 0px;
    margin-bottom: -0.4rem;
}
.rating-container
{
    display: flex;
    justify-content: flex-start;
    align-content: center;
}
.rating-container span{
    margin-top: 0.5rem;
    margin-left: 00.5rem;
}
.hotel-price-info
{
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    justify-content: space-between;
}
.hotel-price-info h3{
    margin:0;
    margin-top: var(--content_margin);
}
.hotel-price-info i{
    font-size: 1.2rem;
    margin-left: 0.5rem;
    vertical-align: middle;
}
.hotel-info button
{
    background-color: var(--accent_color);
    color: white;
    border: 1px solid var(--accent_color);
    margin: 0;
    font-family: inherit;
    font-size: inherit;
}

/*Footer*/

.footer-button-style span {
  display: block;
  text-align: center;
  font-size: smaller;
}
.footer-button-style i {
  display: block;
  text-align: center;
  font-size: 20px;
  color: gray;
}
.footer-menu{
  position: fixed;
  bottom: 0;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  width: 100vw;
  -webkit-box-shadow: 0px -4px 22px -6px rgba(58,89,93,0.5); 
  box-shadow: 0px -4px 22px -6px rgba(58,89,93,0.5);
  
}
.footer-menu label
{
  padding: 1rem;
  border-top: 4px solid transparent;
}

.footer-menu input:checked + label.footer-button-style {
  border-top: solid #3A595D 4px;
}
.footer-menu input:checked + label.footer-button-style > i{
  color: #262626;
}

/*Display size min 768*/

@media screen and (min-width: 768px) {
  .results-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100vw;
  }
  .hotel-card  {
    width: 20rem;
    margin: 0 0 var(--content_margin) var(--content_margin);
    border: 1px solid lightgray;
  }
  .hotel-card img{
    width: 20rem;
    height: 15rem;
    object-fit: cover;
  }
  .hotel-card:hover  {
    -webkit-box-shadow: 0px 0px 15px 4px rgba(58,89,93,0.23); 
    box-shadow: 0px 0px 15px 5px rgba(58,89,93,0.23);
  }
  .footer-menu{
    visibility: hidden;
  }
  .hotel-card:last-child{
    margin-bottom: var(--content_margin);
  }
  
}