@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");

:root {
  --content_margin: 1.3rem;
}

body {
  font-size: 1rem;
  font-family: "Nunito Sans", sans-serif;
  color: #262626;
  margin: 0;
}
.material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}
header {
  position: sticky;
  background-color: white;
  top:0;
  padding: var(--content_margin);
  z-index: 100;
}
.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-container i {
  margin-right: 1rem;
}
.header-container h4{
    margin: 0;
}
main {
  
}
.filter-button {
  visibility: hidden;
  position: absolute;
}
.filters-container{
    margin: 0;
    padding: 0.5rem 0;
    overflow-x:auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.filters-container label:first-of-type {
  margin-left: var(--content_margin);
}
.filters-container::-webkit-scrollbar
{
    display: none;
}
.button-style {
  background-color: transparent;
  border-radius: 1rem;
  color: black;
  border: 1px solid black;
  margin: 0 0.8rem 0 0;
  padding: 0.3rem 0.7rem;
}
.filters-container i {
  vertical-align: middle;
  margin-right: 0.5rem;
  font-size: 20px;
}
.filters-container input:checked + label.button-style {
  background-color: #3a595d;
  color: 
  white;
  border: 1px solid #3a595d;
}
.filters-info{
    margin: var(--content_margin);
    font-size: small;
}
.filters-info i{
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.hotel-card{
  margin-bottom: 2rem;
}
.hotel-card img{
  width: 100vw;

}
.hotel-card i:first-child{
    margin-top: 0.3rem;
    color: #3A595D;
}
.hotel-card button:first-child{
    height: 3rem;
    width: 3rem;
    border: 0;
    background-color: #f4f4f4;
    border-radius: 200px;
    position: absolute;
    right: var(--content_margin);
    margin-top: var(--content_margin);
}
.hotel-info{
    margin: var(--content_margin);
}
.hotel-info h2{
    margin: 0px;
    margin-bottom: -0.4rem;
}
.rating-container
{
    display: flex;
    justify-content: flex-start;
    align-content: center;
}
.rating-container span{
    margin-top: 0.5rem;
    margin-left: 00.5rem;
}
.hotel-price-info
{
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    justify-content: space-between;
}
.hotel-price-info h3{
    margin:0;
    margin-top: var(--content_margin);
}
.hotel-price-info i{
    font-size: 1.2rem;
    margin-left: 0.5rem;
    vertical-align: middle;
}
.hotel-info button
{
    background-color: #3a595d;
    color: white;
    border: 1px solid #3a595d;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
}