body{
    background-color: black;
    
}

h1, label, input, textarea{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;

}
label{
    display:block;
}

input, textarea{
    background-color: black;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    width: 300px;

}
.row{
    display: flex;
    gap: 6rem;
}

.submit{
    background-color: palevioletred;
    border: 0px;
    border-radius: 20px;
    color: white;
    padding: 5px 10px 5px 10px;
    height: 30px;
    width: 64px;
   
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

