body {
    color: white;
    font-family: "Lato";
}

html,
body {
    margin: 0px;
    padding: 0px;
}

footer {
    padding: 3rem;
    background-color: black;
    display: flex;
    justify-content: space-around;
}

footer ul.noArrows {
    list-style: none;
    padding: 0px;
}

.withArrows {
    list-style-image: url(bulletArrow.svg);
    padding: 0px;
}

li {
    font-size: 0.75rem;
    color: #c7e0fa;
    margin: 0 0 0.75rem 0;
}

#footerText span {
    margin: 0 0 0 30px;
    color: #deecf9;
    font-size: 0.6rem;
}

#footerText div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#footerText p {
    font-size: 0.75rem;
    max-width: 18.75rem;
    color: #c7e0fa;
    margin: 3rem 0 0 0;
}

footer div:not(:last-child) {
    margin: 0 1.25rem 0 0;
}
