/* Contact - Bernacchia */

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact h2 {
    margin-top: 2.5rem;
    font-weight: 700;
}

#contact .underline {
    background-color: #f03a76;
    border-radius: 10px;
    height: 5px;
    width: 50px;
}

#contact > div + form {
    display: flex;
    justify-content: space-around;
    font-weight: 100;
    gap: 4rem;
    margin-top: 4rem;
}

#contact form > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
}

#contact form input,
#contact form textarea {
    font-family: "Lato", sans-serif;
    border: 1px solid #c7e0fa;
    border-radius: 6px;
    display: block;
    width: 440px;
    padding: 0.6rem 1.25rem;
    background-color: transparent;
    font-weight: 100;
    margin-top: 0.5rem;
}

#contact input::placeholder, #contact textarea::placeholder{
    color: #C7E0FA;
}

#contact button {
    margin-top: 1rem;
    background-color: #f03a76;
    font-weight: bold;
    border-radius: 50px;
    padding: 15px 55px;
    text-align: center;
    color: #c7e0fa;
    border: 0px;
    box-shadow: 0px 10px 15px rgba(240, 58, 118, 0.18);
    width: fit-content;
    float: right;
}

#contact button:hover{
    background-color: #fff;
    color: #F03A76;
}