
#team {
    display: flex;
    justify-content: space-between;
}

#team div {
    width: 50%;
}

#team hr {
    width: 120px;
    height: 5px;
    text-align: left;
    margin-left: 0;
    color: #f03a76;
    border-radius: 20px;
    border: 0;
    background-color: #f03a76;
}

#team img {
    height: 460px;
}