html,body{
    padding: 0;
    margin: 0;
}
header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
header>.vectorelinea{
    display: flex;
    align-items: center;
    gap:28px;
}
.vectorelinea>.linea{
    width: 122px;
    border-radius: 16px;
    height: 15px;
    background-color: #A8A8A8;
}
header>.greycircle{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #D0D0D0;
}
.ricerca>.item{
    border: none;
    display: flex;
    align-items: center;
    height: 60px;
    background-color:#D0D0D0 ;
    border-radius: 50px;
    width: 343px;
    gap: 20px;
}
.ricerca{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.annunci{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 31px;
    gap: 43px;
}
.annunci>.annuncio{
    width: 150px;
    height: 248px;
    background-color: #525252;
    border: none;
    border-radius: 24px;
}
.annuncio{
    box-sizing: border-box;
    padding-top: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.annuncio>.logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #D0D0D0;
}
.annuncio>.linea{
    width: 120px;
    height: 15px;
    margin-top: 16px;
    border-radius: 23px;
    background-color: #D0D0D0;
}

.comment>.circleelinea{
    margin: 16px;
    display: flex;
    gap: 8px;
    align-items: center;

}
.circleelinea>.circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #D0D0D0;
}
.circleelinea>.linea{
    width: 80px;
    height: 10px;
    background-color:#D0D0D0 ;
    border-radius: 25px;
}
.adaptnav{
    bottom: 0;
    position: fixed;
    width: 90%;
    height: 10%;
    margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;
}
.navbar{
    background-color: #525252;
    width: 105%;
    height: 81px;
    border-radius: 24px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 58px;
}
.navbar>.circles{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #A8A8A8;
}

