@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Raleway', sans-serif;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
input,button{
  outline: none;
  border: none;
}
/***** NAVIGATION *****/
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
}
nav ul{
  display: flex;
}
nav ul li a{
  height: 40px;
  line-height: 43px;
  margin: 3px;
  padding: 0 22px;
  display: flex;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 3px;
  transition: 0.5s ease-in-out;
}
nav ul li a:hover{
  background-color: #46ff54;
  color: #fff;
}
.main{
  width: 100%;
  height: 768px;
  position: relative;
}
.testo_nome,::placeholder{
  background-color: rgb(129, 2, 2);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  height: 20px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
.manda{
  height: 25px;
  width: 90px;
  color: rgb(129, 2, 2);
  background-color: #fff;
  border-color:rgba(129, 2, 2, 0.2);
  border-radius: 0.1mm;
  border-style:solid;
}