#column{
    display: flex;
    flex-direction: column;
    width: 99%;
}
#Credenziali{
    margin-top: 30px;
    margin-left: 30px;
    background-color:  white;
    width: 88%;
    height: 90%;
    display: flex;
    padding: 25px 35px 25px 35px;
    flex-direction: column;
}
#Credenziali > .navItems{
    display: flex;
    font-size: large;
    gap: 25px;
    color: #5F6165;
    align-items: center;
    
}

#Credenziali > .navItems > .items{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 60px;
    border-radius: 8px;
}

#Credenziali > .navItems > .items:hover{
    background-color: rgba(161, 98, 247, 0.1);
}

#Credenziali > #Profile {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 12px;
}
#Credenziali > .descrizione {
    color: #5F6165;
    margin-top: 5px;
    margin-left: 12px;
}

#Credenziali > .linealunga{
    margin-top: 50px;
    margin-left: 1%;
    height: 5px;
    width: 96%;
    background-color: #E9EAEC;
    border-radius: 15px;
}

#Credenziali >.conteinetutto {
    display: flex;
    gap: 20px;
}
 .row{
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    
}
.conteinetutto > .row >#TextBox{
    display: flex;

    flex-direction: column;
}
.conteinetutto > .row >#TextBox > .titletext{
    font-size: 20px;
    color: #9f9fa9 ;
    margin-bottom: 2px;
}

.conteinetutto > .row >#TextBox >#barraText{
    width: 360px;
    border: 1px solid #9f9fa9 ;
    height: 60px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
    padding-left: 20px;
}

.conteinetutto > .row >#TextBox >#barraText>img{
    width: 18px;
    height: 20px;  
    margin-top: 0;  
    margin-bottom: 0;      
    }

.lungacont > .row >#TextBox{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
}
.lungacont > .row >#TextBox > .titletext{
    font-size: 20px;
    color: #9f9fa9 ;
    margin-bottom: 2px;
}

.lungacont > .row >#TextBox >#barraText{
    width: 778px;
    border: 1px solid #9f9fa9 ;
    height: 60px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
    padding-left: 20px;
}

.lungacont > .row >#TextBox >#barraText>img{
    width: 24px;
    height: 24px;  
    margin-top: 0;  
    margin-bottom: 0;      
    }


#yourPhotoContainer > .yourPhotoTitleParaghpt{
        display: flex;
        align-items: center;
        gap: 90px;
    }
#yourPhotoContainer > .yourPhotoTitleParaghpt> img{
    width: 80px;
    height: 80px;

}

#yourPhotoContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 14px;
}
#yourPhotoContainer > #rowendyourphoto {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 25px;
    
}
#yourPhotoContainer > #rowendyourphoto >#paragraph {
    color: #9f9fa9;
    font-size: 20px;
    
}
#yourPhotoContainer > #rowendyourphoto >.paragrapht {
    color: #A162F7;
    font-size: 20px;
    margin-right: 15px;
    }

#Credenziali > .SocialProfiles{
    display: flex;
    gap: 110px;
    
}
#Credenziali > .SocialProfiles >.SocialProfilesContainer{
    margin-top: 15px;
    margin-left: 13px;
    display: flex;
}
#Credenziali > .SocialProfiles >.SocialProfilesContainer2{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap:15px;
    align-items: center;
    justify-content: center;
}
#Credenziali > .SocialProfiles >.SocialProfilesContainer2> #box{
    font-size: 22px;
    color: #7C7C8D;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    justify-content: center;
    align-items: flex-start;
    border: solid 2px;
    border-radius: 9px;
    width: 613px;
    height: 60px;
}