@import url('https://fonts.googleapis.com/css2?family=El+Messiri&family=M+PLUS+Rounded+1c:wght@300&family=Signika:wght@300;500&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

/*********************************** utils ********************
************************************************************ */
a{
    font-size: 13px;
    color: black;
}
.small_card{
 background-color: rgb(221, 140, 42);
 min-height:100px;
 width: calc(100% /3);
 
}
.card_large{
    width: 100%;
    min-height: 90px;
    
}

body{
    width: 100vw;
    /* height: 100vh; */
    font-family: 'El Messiri', sans-serif;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Signika', sans-serif;
}


main{
 width: 100%;
}

/*********************************** ********************
************************************************************ */
.all_classes_section{
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin:5rem 20px 2rem 10px;
}
.arrow_icon{
    margin:0 20px 0 19px;
}

/***********************************  ********************
************************************************************ */
.black_button_wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 3rem 0;
}
.black_button{
    width: 100%;
    background-color: black;
    color: white;
    height: 40px;
    border: 0;
    margin: 19px;
}

/*********************************** small card  ******************************
****************************************************************************** */

.container{
    padding: 15px;
    width: 100%;
}

.small_card_contain{
    margin: 0 0 4rem 0;
}

.title_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.small_card_wrapper{
    width: 100%;
    display: flex;
   
    gap: 5px;
}
.inside_card_small{
    width: 100%;
    height: 100%;
}
.small_card_wrapper  h5{
    width: 100%;
    text-align: center;
}

/*********************************** large card  *******************************
*********************************************************************************/


.title_wrapper_large{
    margin: 0 0 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.card_wrapper{
    width: 100%;
   
    margin-bottom: 5rem;
    /* overflow: auto; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 10px;
}

.card_large{
    width: 100%;
    position: relative;
    background: linear-gradient(0deg, rgb(30, 30, 30) 8%, rgba(255,255,255,0) 100%);
}
.card_large:hover{
    background: none;
}
.title_inside{
    color: white;
    position: absolute;
    bottom: 8px;
    left: 5px;
    font-size: 16px;
    font-weight: 100;
}


/*********************************** footer ***********************************
********************************************************************************/
footer{
    height: 70px;
    width: 100%;
    background-color: black;
    position: fixed;
    bottom: 0;
    z-index: 3;
    
}

nav{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
nav>div{
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}