@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    /*padding-top: 30px;*/
    font-family: 'Roboto', sans-serif;
    background-color: #191919;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 16px;
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
    width: 357px;
    height: 44px;
    color: white;
    background: #3A595D;
    border-radius: 60px;
    border-color: #191919;
}

.boxetto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.v {
    border: 1px solid #FFFFFF;
}

/*Smartphone*/
@media only screen and (max-width: 480px) {

body {
    font-family: 'Roboto', sans-serif;
    background-color: #191919;
    color: white;

}

h2 {
    font-size: 20px;
}

p {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
    width: 357px;
    height: 44px;
    color: white;
    background: #3A595D;
    border-radius: 60px;
    border-color: #191919;
}

.boxetto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cerchio {
        border-radius:50px;
        border: 1px solid #FFFFFF;
        width:100px;
        height:100px;
        display: flex;
        align-items: center;
        justify-content: center;
}

.cerchio img {
width: 24px;
height: 16px;
}

}