@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #191919;
    color: white;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
    width: 357px;
    height: 44px;
    color: white;
    background: #3A595D;
    border-radius: 60px;
    border-color: #191919;
}

.boxetto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 340px;
}

/*Smartphone*/
@media only screen and (max-width: 480px) {

body {
    font-family: 'Roboto', sans-serif;
    background-color: #191919;
    color: white;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
    width: 357px;
    height: 44px;
    color: white;
    background: #3A595D;
    border-radius: 60px;
    border-color: #191919;
}

.boxetto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 340px;
}


}