@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');


body{
    background-color:#F6EBDA;
    font-family:'Readex Pro' ;
}


    .title{
        font-weight: bold;
        text-decoration: none; font-weight: bold; color:black 
    }
        
        

    ul {list-style-type:none; 

        text-decoration: none; color:black 
    }
    
    

    li{ margin-bottom:15px;
    
        
    }
        
    
     div{ display:flex;
     gap: 140px;
     }
     span{ display: flex;
        align-items:center;
    }
    a{text-decoration: none;  color:black }
    hr{color:border 1px solid #1D1D1D80}
    